{% extends 'tripblog/base.html' %}
{% block css %}
	{% load static %}
	<link rel="stylesheet" href={% static "tripblog/css/main.css" %} />
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href={% static "tripblog/css/style.css" %}>
{% endblock %}

{% block content %}
	<div class="flex-parent">
		<div class="input-flex-container">

			<div class="input active">
				<span data-info="1日"></span>
			</div>
			<div class="input">
				<span data-info="2日"></span>
			</div>
			<div class="input">
				<span data-info="3日"></span>
			</div>
			<div class="input">
				<span data-info="4日"></span>
			</div>
			<div class="input">
				<span data-info="5日"></span>
			</div>
			<div class="input">
				<span data-info="6日"></span>
			</div>
			<div class="input">
				<span data-info="7日"></span>
			</div>

		</div>
		<div class="description-flex-container">
			<p class="active">上午：<br>中午：<br>下午：<br>傍晚：<br>黃昏：<br>晚上：<br></p>
			<p>睡一天</p>
			<p>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br>測試<br></p>
			<p>Ain’t nobody got time to rake.</p>
			<p>Because paper currency is for noobs.</p>
			<p>Nobody likes cords. Nobody.</p>
			<p>Brighter than glow memory.</p>
		</div>
	</div>
	<div class="flex-child">
		<div class="flex-content">
		內文
		<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0<br>0	
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src={% static "tripblog/js/script.js" %}></script>
{% endblock %}