{% extends 'tripblog/base.html' %}
{% load static %}
{% block css %}


<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href={% static "tripblog/css/edit_article2.css" %}>
<style>
  .fornav {
    margin-top: 8vh;
  }
  .picDiv {
    padding: 10px;
    background-color: #CCCCCC;
    height: 220px;
    width: 220px;
    border: 1px solid #999999;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .addalbum {
    padding: 5px;
    margin: 10px;
    
  }
  .albumDiv {
    float: left;
    height: 250px;
    width: 250px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
  }
</style>

{% endblock %}

{% block content %}
<div class="fornav"></div>
<div class="addalbum"><span id='add_album'>新增相簿</span></div>
<div class="normaldesc"></div>

{% for user_album in user_albums %}
<div class="albumDiv">
  <div class="picDiv">
    <a href="/tripblog/{{ user_account }}/albums/{{ user_album.id }}/"><img src="{% static "tripblog/images/robot.png" %}" width="200" height="200"
        border="0" /></a>
  </div>

  <div class="albuminfo">
    <a href="/tripblog/{{ user_account }}/albums/{{ user_album.id }}/">{{ user_album.album_title }}</a><br/>
    <span class="smalltext"></span><br>
    
    <a href="/tripblog/{{ user_account }}/albums/{{ user_album.id }}/" class="smalltext"
      onClick="confirmLink('您確定要刪除這本相簿嗎？'); return document.returnValue">(刪除相簿)</a><br>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block script %}
<script type="text/javascript">
  function confirmLink(message) { //v1.0
    if (message == "") message = "確定";
    document.returnValue = confirm(message);
  }
</script>

<script>
      $(document).ready(() => {

          {% comment %} ajax to add new album {% endcomment %}
          $("#add_album").click(event => {
              let album_title = prompt("請輸入相簿名稱：")

              $.ajax({
                  url: "/tripblog/{{ user_account }}/add_album/",
                  type: "POST",
                  data: {
                      "album_title": album_title,
                  },
                  datatype: "json", 
                  success: data => {
                      alert(album_title, '新增成功')
                  },
              });
          });

          // csrf code
          function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');
      
          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
      });
  </script>


{% endblock %}