{% extends 'tripblog/base.html' %}
{% load static %}
{% block css %}


<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href={% static "tripblog/css/main.css" %}>
<style>
  body {
    background-image: url( "{% static 'tripblog/images/wallpaper3.jpg' %}");
  }
  
</style>

{% endblock %}

{% block content %}
<div class="fornav"></div>

<div class="allalbums">
  {% if status and login_user == user_account %}
  <div class="addalbum"><img class="add_album" id='add_album' src="{% static "tripblog/images/plus.png" %}" /></div>
  {% endif %}

  {% for user_album in user_albums %}
  <div class="albumDiv">
    <a href="/tripblog/{{ user_account }}/albums/{{ user_album.id }}/"><img src="{% static "tripblog/images/folder-icon2.png" %}"/></a>
    <div>
      <a href="/tripblog/{{ user_account }}/albums/{{ user_album.id }}/">{{ user_album.album_title }}</a><br>
      {% if status and login_user == user_account %}
      <a href="/tripblog/{{ user_account }}/albums/{{ user_album.id }}/delete/"
        onClick="confirmLink('您確定要刪除這本相簿嗎？'); return document.returnValue">(刪除相簿)</a><br>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function confirmLink(message) { //v1.0
    if (message == "") message = "確定";
    document.returnValue = confirm(message);
  }
</script>

<script>
      $(document).ready(() => {

          {% comment %} ajax to add new album {% endcomment %}
          $("#add_album").click(event => {
              let album_title = prompt("請輸入新增的相簿名稱：")
            
              if (album_title !== null){
                $.ajax({
                    url: "/tripblog/{{ user_account }}/new_album/",
                    type: "POST",
                    data: {
                        "album_title": album_title,
                    },
                    dataType: 'json',
                    success: (data) => {
                        alert(data['response']);
                        window.location.replace(".");    
                    },
                });
              };
          });

          // csrf code
          function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');
      
          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
      });
  </script>


{% endblock %}