{% extends 'tripblog/base.html' %}
{% load customed_filter %}
{% block css %}
	{% load static %}
	
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href={% static "tripblog/css/edit_article2.css" %}>
{% endblock %}

{% block content %}
	<div class="flex-parent">
		<div class="titleinput-flex-container">
				<span>旅程標題</span> <span>{{user_article.article_title}}</span> <br>
				<span>旅程期間</span> <span>{{ user_article.article_content.first_date}}</a> to <span>{{ user_article.article_content.last_date}}</a> <span>交通方式</span> <span>{{ user_article.article_content.transportation}}</span>
		</div>
		<div class="input-flex-container inputline">
			{% for key in user_article.article_content.schedule.keys %}
				<div class="input {% if key == '0' %} active {% endif %}">
					<span data-info="{{ key|add:1 }}日"></span>
				</div>
			{% empty %}
				<div class="input active">
					<span data-info="1日"></span>
				</div>
			{% endfor %}
		</div>
		<div class="description-flex-container">
			{% for key, value in user_article.article_content.schedule.items %}
				<p {% if key == '0' %} class="active" {% endif %}>
				{% for i in value.time|length|get_range %}
					{{ value.time|get_listitem:i }} {{ value.spot|get_listitem:i }}<br>
				{% endfor %}
			{% empty %}
				<p class="active"></p>
			{% endfor %}

		</div>
	</div>
	<h1 class="edit_article_btn"><a href='/tripblog/{{ user_account }}/edit_article/{{ article_id }}/'>進入編輯模式</a></h1>
	<div class="flex-child">
		<div class="child-flex-content">
		{% for value in user_article.article_content.post.values %}
			{% autoescape off %}
				{{ value }}
			{% endautoescape %}
		{% endfor %}	
		</div>	
	</div>
{% endblock %}

{% block script %}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src={% static "tripblog/js/script.js" %}></script>
{% endblock %}