<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static "tripblog/css/main.css" %} />
    {% comment %} put css file here for each page {% endcomment %}
    {% block css %}{% endblock %}
</head>

<body>
    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="/tripblog/{{ user_account }}" class="logo">{{ user_name }}'s Travel Blog</a>
    </header>                                                                                  

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            {% if status and login_user == user_account %}
            <li><a href="/tripblog/{{ user_account }}">Home</a></li>
            <li><a href="/tripblog/{{ user_account }}/albums/">Albums</a></li>
            <li><a href="/tripblog/{{ user_account }}/new_article/">Add New Schedule</a></li>
            <li><a href="/tripblog/{{ user_account }}/openpose/">Openpose</a></li>
            {% else %}
            <li><a href="/tripblog/{{ user_account }}">Home</a></li>
            <li><a href="/tripblog/{{ user_account }}/albums/">Albums</a></li>
            <li><a href="/tripblog/{{ user_account }}/openpose/">Openpose</a></li>
            {% endif %}
        </ul>
        <div class="loginbutton">
            
            
            {% if status %}
            <button type="button" onclick="location.href='/tripblog/{{ user_account }}/logout'"><span style="vertical-align: middle;">LOGOUT</span></button>
            {% else %}
            <button type="button" onclick="location.href='/tripblog/signup'"><span style="vertical-align: middle;">SIGH UP</span></button>
            <button type="button" onclick="location.href='/tripblog/login'"><span style="vertical-align: middle;">LOGIN</span></button>
            {% endif %}
        </div>
    </nav>
    
    {% block content %}{% endblock %}

    {% if status and login_user == user_account %}
    <!--  Popup Chatbot -->
	<img class="open-button" onclick="openForm()" src="{% static "tripblog/images/robot.png" %}" alt="open form">

    <div class="chat-popup" id="myForm">
        <form method="POST" class="form-container">
            {% csrf_token %}
            <h1>Your Travel Assistant</h1>
            <div id="chat_window_V" class="chatwindow"></div>

            <textarea placeholder="Type message.." id="user_msg" name="user_msg" cols="20" wrap="hard" required></textarea>

            <button type="button" id="chatbot_btn" class="butn"><span style="vertical-align: middle;">Send</span></button>
            <button type="button" class="butn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    {% endif %}

    
    <!-- Scripts -->
    <script src={% static "tripblog/js/jquery.min.js" %}></script>
    <script src={% static "tripblog/js/jquery.scrolly.min.js" %}></script>
    <script src={% static "tripblog/js/skel.min.js" %}></script>
    <script src={% static "tripblog/js/util.js" %}></script>
    <script src={% static "tripblog/js/main.js" %}></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    
    {% comment %} put js file here for each page {% endcomment %}
    {% block script %}
    {% endblock %}
</body>

</html>