<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {% comment %} put css file here for each page {% endcomment %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href={% static "tripblog/css/main.css" %} />
    

</head>

<body>
    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="index.html" class="logo">intensify</a>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Schedule</a></li>
            <li><a href="elements.html">Setting</a></li>
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">Login</a></li>
        </ul>
    </nav>
    
    {% block content %}{% endblock %}

    <!--  Popup Chat -->
    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h1>Your Travel Assistant</h1>


            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn"><span style="vertical-align: middle;">Send</span></button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    {% comment %} put css file here for each page {% endcomment %}
    {% block script %}{% endblock %}
    <!-- Scripts -->
    <script src={% static "tripblog/js/jquery.min.js" %}></script>
    <script src={% static "tripblog/js/jquery.scrolly.min.js" %}></script>
    <script src={% static "tripblog/js/skel.min.js" %}></script>
    <script src={% static "tripblog/js/util.js" %}></script>
    <script src={% static "tripblog/js/main.js" %}></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</body>

</html>