{% extends 'tripblog/base.html' %}
{% load customed_filter %}
{% load static %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href={% static "tripblog/css/froala_editor.css" %}>
<link rel="stylesheet" href={% static "tripblog/css/froala_style.css" %}>
<link rel="stylesheet" href={% static "tripblog/css/plugins/code_view.css" %}>
<link rel="stylesheet" href={% static "tripblog/css/plugins/image_manager.css" %}>
<link rel="stylesheet" href={% static "tripblog/css/plugins/image.css" %}>
<link rel="stylesheet" href={% static "tripblog/css/plugins/table.css" %}>
<link rel="stylesheet" href={% static "tripblog/css/plugins/video.css" %}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
<link rel="stylesheet" href={% static "tripblog/css/edit_article.css" %}>

<style>
	body {
		background-image: url( "{% static 'tripblog/images/wallpaper4.jpg' %}");
	}
	.flex-parent{
		background-image: url( "{% static 'tripblog/images/wallpaper4.jpg' %}");
	}
</style>
{% endblock %}


{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="flex-parent">
		<img src="{% static "tripblog/images/plus.png" %}" alt="addnewday" class="imgdayplus" />
		<div class="titleinput-flex-container">
			<span>旅程標題</span> <input type="text" name='article_title' style="width: 400px;" value='{{ user_article.article_title }}'> <br>
			<span>旅程期間</span> <input type="text" name='first_date' style="width: 100px;" value='{{ user_article.article_content.first_date }}'> to <input type="text" name='last_date' style="width: 100px;" value='{{ user_article.article_content.last_date }}'> <span>交通方式</span> <input type="text" name='transportation' value='{{ user_article.article_content.transportation }}'>	
		</div>
		<div class="input-flex-container inputline" id="addinput1">
			{% for key in user_article.article_content.schedule.keys %}
				<div class="input {% if key == '0' %} active {% endif %}">
					<span data-info="{{ key|add:1 }}日"></span>
				</div>
			{% empty %}
				<div class="input active">
					<span data-info="1日"></span>
				</div>
			{% endfor %}
		</div>
		<div class="description-flex-container" id="addinput2">
			{% for key, value in user_article.article_content.schedule.items %}
				<p {% if key == '0' %} class="active" {% endif %}>
				
				{% for i in value.time|length|get_range %}
					{% if i != 0 %}<br>{% endif %}<span>時間</span> <input type="text" name='time' value={{ value.time|get_listitem:i }}>
					<span>景點</span> <input type="text" name='spot' value={{ value.spot|get_listitem:i }}>
					{% if i == 0 %}
						<img src="{% static "tripblog/images/plus.png" %}" alt="addnewinput" class="imgtpinputplus canclick"/>
					{% endif %}
				{% endfor %}
				</p>
			
			{% empty %}
			<p class="active">
				<br><span>時間</span> <input type="text" name='time'> <span>景點</span> <input type="text" name='spot'> <img src="{% static "tripblog/images/plus.png" %}" alt="addnewinput" class="imgtpinputplus canclick" />
			</p>
			{% endfor %}

		</div>
	</div>
	<div class="flex-child">
		<div class="child-flex-content" id="addinput3">
			<div id="editor">
				<input type="submit" value="儲存行程">
				{% for value in user_article.article_content.post.values %}
					<textarea id='edit' style="margin-top: 30px;" placeholder="從這裡開始寫"></textarea>
				{% empty %}
					<textarea id='edit' style="margin-top: 30px;" placeholder="從這裡開始寫"></textarea>
				{% endfor %}
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block script %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src={% static "tripblog/js/froala_editor.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/align.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/code_beautifier.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/code_view.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/draggable.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/image.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/image_manager.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/link.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/lists.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/paragraph_format.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/paragraph_style.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/table.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/video.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/url.min.js" %}></script>
<script type="text/javascript" src={% static "tripblog/js/plugins/entities.min.js" %}></script>
<script>
	(function () {
		const editorInstance = new FroalaEditor('#edit', {
			enter: FroalaEditor.ENTER_P,
			placeholderText: null,
			events: {
				initialized: function () {
					const editor = this
					this.el.closest('form').addEventListener('submit', function (e) {
						console.log(editor.$oel.val())
						e.preventDefault()
					})
				}
			}
		})
	})()
</script>
<script>
	$(function () {
		$($('.input')).click(function () {
			var t = $(this),
				ind = t.index(),
				matchedPara = $($('.description-flex-container').find('p')).eq(ind);

			$(t).add(matchedPara).addClass('active');
			$($('.input')).not(t).add($($('.description-flex-container').find('p')).not(matchedPara)).removeClass('active');
		});
	});

	$("img.imgtpinputplus").click(function () {
		var addtextinput = $("<br><a>時間</a> <input type='text' name='time'> <a>景點</a> <input type='text' name='spot'>");
		$("p.active").append(addtextinput);
		$("img.imgtpinputplus").addClass("canclick")
	});
	a = $('#addinput1 div:last-child span').attr('data-info').split('日')[0]
	a = Number(a)
	$(".imgdayplus").click(function () {
		a = a + 1;
		var addtextinput = $("<div class='input'><span data-info='" + a + "日'></span></div>");
		$("#addinput1").append(addtextinput);
		var addtextinput = $("<p><a>時間</a> <input type='text' name='time'> <a>景點</a> <input type='text' name='spot'> <img src='{% static "tripblog/images/plus.png" %}' alt='addnewinput' class='imgtpinputplus'/></p>");
		$("#addinput2").append(addtextinput);
		$("img[class='imgtpinputplus'][class!='imgtpinputplus canclick']").click(function () {
			var addtextinput = $("<br><a>時間</a> <input type='text' name='time'> <a>景點</a> <input type='text' name='spot'>");
			$("p.active").append(addtextinput);
		});		
		$("img[class='imgtpinputplus']").addClass("canclick")
		var addtextinput = $("<textarea id='edit' style='margin-top: 30px;' placeholder='從這裡開始寫'></textarea>");
		$("#editor").append(addtextinput);
		$($('.input')).click(function () {
			var t = $(this),
				ind = t.index(),
				matchedPara = $($('.description-flex-container').find('p')).eq(ind);
			$(t).add(matchedPara).addClass('active');
			$($('.input')).not(t).add($($('.description-flex-container').find('p')).not(matchedPara)).removeClass('active');
		});
	

		const editorInstance = new FroalaEditor('#edit', {
			enter: FroalaEditor.ENTER_P,
			placeholderText: null,
			events: {
				initialized: function () {
					const editor = this
					this.el.closest('form').addEventListener('submit', function (e) {
						console.log(editor.$oel.val())
						e.preventDefault()
					})
				}
			}
		})
	});
</script>

{% comment %} pack input infomation and send back {% endcomment %}
<script>
    $(document).ready(() => {
        {% comment %} ajax to upload headshot {% endcomment %}
        $("input[type=submit]").click(event => {
            
			let article_content = {};
			let article_title = $("input[name=article_title]").val();
			article_content['first_date'] = $("input[name=first_date]").val();
			article_content['last_date'] = $("input[name=last_date]").val();
			article_content['transportation'] =$("input[name=transportation]").val();

			{% comment %} retrieve schedule of each day {% endcomment %}
			let schedule_input = document.querySelectorAll('#addinput2 p');
			let schedule = {};
			for (let i=0; i<schedule_input.length; i++){
				let time = [];
				let spot = [];
				let time_input = schedule_input[i].querySelectorAll('input[name=time]')
				let spot_input = schedule_input[i].querySelectorAll('input[name=spot]')
				for (let j=0; j<time_input.length; j++){
					time.push(time_input[j].value);
					spot.push(spot_input[j].value);
				};
				schedule[i] = {
					'time': time,
					'spot': spot
				};
			};
			article_content['schedule'] = schedule

			{% comment %} retrieve post of each day {% endcomment %}

			let post_input = document.querySelectorAll('div.fr-element');
			post = {}
			for (let i=0; i<post_input.length; i++){
				post[i] = post_input[i].innerHTML
			}
			article_content['post'] = post
             $.ajax({
                url: "/tripblog/{{ user_article.user_account }}/edit_article/{{ user_article.id }}/",
                type: "POST",
                data: {
					'article_title': article_title,
					'article_content': JSON.stringify(article_content),
				},
                datatype: "json", 
                success: response => {
                    window.location.href = response.redirect;
                },
            }); 
        });

		let posts = {{ user_article.article_content.post | safe }}

		for (i = 0; i < $('div.fr-element').length; i++){
			$('div.fr-element').eq(i).find('p').remove();
			$('span.fr-placeholder').eq(0).remove();
			$('div.fr-element').eq(i).append(posts[i]);
		};
		
        // csrf code
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
</script>
{% endblock %}