{% extends 'tripblog/base.html' %}
{% load static %}
{% block css %}


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href={% static "tripblog/css/jquery.bsPhotoGallery.css" %} />
<link rel="stylesheet" href={% static "tripblog/css/main.css" %} />
<style>
    body {
        background-image: url( "{% static 'tripblog/images/wallpaper3.jpg' %}");
    }

    .cateselect {
        margin-left: 10vw;
        margin-bottom: 3vh;
        width: 200px;
    }

    .imginputplus {
        position: fixed;
        top: 10vh;
        right: 10vw;
        width: 25px;
        height: 25px;
    }

    .imginputplus:hover {
        cursor: pointer;
    }

    .imgloading {
        height: 200vh;
        width: 100vw;
    }
</style>
{% endblock %}

{% block content %}
<div class="fornav imgloading"></div>
<form action="/">
    <select class="cateselect" name="" id="select_cat">
        <option value="all">All</option>
        <option value="people">People</option>
        <option value="food">Food</option>
        <option value="nature">Nature</option>
        <option value="architecture">Architecture</option>
        <option value="other">Other</option>
    </select>
</form>

{% if status and login_user == user_account %}
<form action="" id="upload_photo_form" method='POST' enctype='multipart/form-data' style='display:none'>
    {% csrf_token %}
    <input type="file" name='upload_imgs' accept=".png, .jpg, .jpeg" multiple id='upload_imgs'>
</form>
<label for="upload_imgs"><img src="{% static "tripblog/images/plus.png" %}" class="imginputplus" /></label>
{% endif %}

<ul class="row first">
    {% for photo in display_imgs %}
    <li><img src={{photo}}></li>
    {% endfor %}
</ul>



{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src={% static "tripblog/js/jquery.bsPhotoGallery.js"%}></script>


<script>
    $(document).ready(function () {

        $('ul.first').bsPhotoGallery({
            "classes": "col-xl-2 col-lg-3 col-md-4 col-sm-4",
            "hasModal": true,
            "shortText": false
        });

        $('#select_cat').change(function () {
            var e = document.getElementById("select_cat");
            var url = './' + e.value + '/';
            $.ajax({
                url: url,
                type: "POST", // or "get"
                data: e.value,
                success: function (images) {
                    $('ul.first li').remove();
                    var i;
                    for (i = 0; i < images.length; i++) {
                        tag = '<li><img src=' + images[i] + '></li>'
                        $('ul.first').append(tag)
                    }

                    $('ul.first').bsPhotoGallery({
                        "classes": "col-xl-2 col-lg-3 col-md-4 col-sm-4",
                        "hasModal": true,
                        "shortText": false
                    });
                }
            });
        });
        $('#upload_imgs').change(function () {
            $('#upload_photo_form').submit()
        });
        $('div.fornav').css("height", "0vh");
    });
</script>
{% endblock %}