{% extends 'tripblog/base.html' %}

{% block css %}

{% endblock %}

{% block content %}
<!-- profile -->
<section>
    <div class="contentDiv">
            <label for="headshot">
                <img id='headshot_shown' src="/media/{{ user_account }}/headshot.jpg?*cachebuster*"/>
            </label>
        <form method="POST" id='headshot_upload' class="form-container" enctype="multipart/form-data", style='display:none'>
            {% csrf_token %}
            {% if status and login_user == user_account %}
            <input type="file" id="headshot" name='headshot'>
            {% endif %}
        </form>
    </div>
</section>

<!-- scrollong -->
{% load static %}
<div class="outer-wrapper_BH">
    <div class="wrapper_BH">
        {% for user_article in user_articles %}
        <div id='article_{{user_article.id}}' class="articlephoto photo_{{ no|random }}">
        {% if status and login_user == user_account %}
            <p class='delete_article' id='delete_{{user_article.id}}'>[X]</p>
            <p class='edit_picture' id='edit_{{user_article.id}}'>換圖片</p>
            <p class='style_picture' id='style_{{user_article.id}}'>換風格</p>
        {% endif %}
            <a href="/tripblog/{{ user_account }}/article/{{ user_article.id }}">
            <img src= "/media/{{ user_account }}/articles/{{ user_article.id }}/cover.jpg" alt=""/>{{ user_article.article_title }}</a>
        </div>
        {% endfor %}


        <!-- <div class="articlephoto photo_1">
            
            <label for="blog_image">
                    <img id='blog_image_shown' src="/media/{{ user_account }}/articles/original/blog_image.jpg"/>
            </label>
            
            <form method="POST" id='blog_image_upload' class="form-container" enctype="multipart/form-data">
                <input type="file" id="blog_image" name='blog_image'> 
            </form>
        </div> -->
    </div>
    <!-- Oliver fxn test -->
    
    <!-- Oliver fxn test -->
</div>
{% endblock %}

{% block script %}

<script>
    $(document).ready(() => {

        {% comment %} ajax to upload headshot {% endcomment %}
        $("#headshot").change(event => {  
            let data = new FormData($('#headshot_upload').get(0));
            
            $.ajax({
                url: "/tripblog/{{ user_account }}/headshot_upload/",
                type: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: data => {
                    $('#headshot_shown').attr('src', data['headshot_src']+'?cachebuster='+Math.floor(Math.random()*100+1));
                },
            });
            $("#headshot").val('');
        });

        {% comment %} Oliver fxn testing   {% endcomment %}
            $("#blog_image").change(event => {
                
                let data = new FormData($('#blog_image_upload').get(0));
                
                $.ajax({
                    url: "/tripblog/{{user_account}}/blog_image_upload/16/",
                    {% comment %} introduce to view by the url {% endcomment %}
                    type: "POST",
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: data => {
                        $('#blog_image_shown').attr('src', data['blog_image_src']+'?test='+Math.floor(Math.random()*100+1));
                    },
                });
                $("#blog_image").val('');
            });

        {% comment %} ajax to delete article {% endcomment %}
        $('p.delete_article').click(event=>{
            let id = event.target.id.split('_')[1];
            let article_title = $(event.target).siblings('a').text()
            article_title = article_title.replace(/\s/g, '');
            if (confirm('Please confirm the deletion of article: '+article_title)){
                $.ajax({
                    url: "/tripblog/{{ user_account }}/delete_article/",
                    type: "POST",
                    data: {'id': id,},
                    datatype: 'json',
                    success: response => {
                        $('#article_'+id).remove()
                    },
                });
            };
        })

        {% comment %} ajax for chatbot to deal user message {% endcomment %}
            $("#chatbot_btn").click(event => {
                let user_msg = "<div style='text-align:right;margin-bottom:10px;'><span style='background-color: #009FCC;line-height: 22px;padding: 3px;border-radius: 10px;'>" + $('#user_msg').val() + "</span></div>";
                $("#chat_window_V").append(user_msg)
                $.ajax({
                    url: "/tripblog/{{ user_account }}/chatbot/",
                    type: "POST",
                    data: {
                        "user_msg": $('#user_msg').val(),
                    },
                    datatype: "json", 
                    success: data => {
                        reply = "<div style='margin-bottom:10px;'><span style='background-color: #FFDD55;line-height: 22px;padding: 3px;border-radius: 10px;'>" + data['response'] + "</span></div>";
                        $("#chat_window_V").append(reply);
                        if('title' in data){
                            let article = "<div id='article_"+data['id']+"' class='articlephoto photo_{{ no|random }}'>"
                            $('div.wrapper_BH').prepend(article)

                            let article_id = '#article_'+data['id']
                            $(article_id).append("<p class='delete_article' id='delete_"+data['id']+"'>[X]</p>")
                            $(article_id).append("<p class='edit_picture' id='edit_"+data['id']+"'>換圖片</p>")
                            $(article_id).append("<p class='style_picture' id='style_"+data['id']+"'>換風格</p>")
                            $(article_id).append("<a href='/tripblog/{{ user_account }}/article/"+data['id']+"'>"+data['title']+"</a>")
                        }
                    },
					complete: function(){
						$('#chat_window_V').scrollTop(9999999);
					}
                });
                $("#user_msg").val('');
            });

        // csrf code
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
</script>

{% endblock %}