<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Intensify by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static "tripblog/css/main.css" %} />

</head>

<body>

    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="index.html" class="logo">intensify</a>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Schedule</a></li>
            <li><a href="elements.html">Setting</a></li>
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">Login</a></li>
        </ul>
    </nav>

    <!-- profile -->
    <section>
        <div class="contentDiv">
            <img src='/media/jessie/headshot.jpg' />
        </div>
    </section>
    <section>
        <div>
            <h3 style="text-align: center">Jessie's Travel Blog</h3>
        </div>
    </section>

{% comment %} upload picture start-Vincet(not complete){% endcomment %}

	<form action="." method='POST' enctype="multipart/form-data" style='display: none'>
		{% csrf_token %}
		<input type="file" name='headshot'>
		<input type="submit" vlaue='Submit'>
	</form>
{% comment %} upload picture end {% endcomment %}


    <!-- scrollong -->
    <div class="outer-wrapper_BH">
        <div class="wrapper_BH">
            <div class="slide_BH one_BH"><img src={% static "tripblog/images/me.JPG" %} />photo one</div>
            <div class="slide_BH two_BH"><img src={% static "tripblog/images/test1.JPG" %}/>photo two</div>
            <div class="slide_BH three_BH"><img src={% static "tripblog/images/test2.JPG" %}/>photo three</div>
            <div class="slide_BH four_BH">photo four</div>
            <div class="slide_BH one_BH">photo one</div>
            <div class="slide_BH two_BH">photo two</div>
            <div class="slide_BH three_BH">photo three</div>
            <div class="slide_BH four_BH">photo four</div>
            <div class="slide_BH one_BH">photo one</div>
            <div class="slide_BH two_BH">photo two</div>
            <div class="slide_BH three_BH">photo three</div>
            <div class="slide_BH four_BH">photo four</div>
            <div class="slide_BH one_BH">photo one</div>
            <div class="slide_BH two_BH">photo two</div>
            <div class="slide_BH three_BH">photo three</div>
            <div class="slide_BH four_BH">photo four</div>
            <div class="slide_BH one_BH">photo one</div>
            <div class="slide_BH two_BH">photo two</div>
            <div class="slide_BH three_BH">photo three</div>
            <div class="slide_BH four_BH">photo four</div>
            <div class="slide_BH one_BH">photo one</div>
            <div class="slide_BH two_BH">photo two</div>
            <div class="slide_BH three_BH">photo three</div>
            <div class="slide_BH four_BH">photo four</div>
        </div>
    </div>

    <!--  Popup Chat -->
    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h1>Your Travel Assistant</h1>


            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn"><span style="vertical-align: middle;">Send</span></button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>


    <!-- Scripts -->
    <script src={% static "tripblog/js/jquery.min.js" %}></script>
    <script src={% static "tripblog/js/jquery.scrolly.min.js" %}></script>
    <script src={% static "tripblog/js/skel.min.js" %}></script>
    <script src={% static "tripblog/js/util.js" %}></script>
    <script src={% static "tripblog/js/main.js" %}></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</body>

</html>