{% extends 'tripblog/base.html' %}
{% load static %}
{% block css %}
<style>
    #video_container {
        width: 640px;
        position: absolute;
        right: 5vw;
        top: 15vh;
    }
    #video_element {
        width: 640px;
        height: 360px;
        background-color: #666;
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    }
    .upload_photo {
        margin-top: 15vh;
        margin-left: 5vw;
    }
    .show_photo {
        margin-left: 5vw;
        width:480;
    }
	body {
		background-image: url( "{% static 'tripblog/images/wallpaper4.jpg' %}");
	}
</style>
{% endblock %}

{% block content %}

<div class="upload_photo">
    <form action="" id="upload_photo_form" method='POST' enctype='multipart/form-data' style='display:none'>
        {% csrf_token %}
        <input type="file" name='upload_imgs' accept=".png, .jpg, .jpeg" enctype="multipart/form-data", id='upload_imgs'>
    </form>
    <label for="upload_imgs"><p class="button">上傳圖片</p></label>
    <button type="button">分析</button>
    <div id="empty_photo"></div>
</div>
<div class="show_photo">
    <img id='model_img'>
</div>

<div id="video_container">
    <video id="video_element"></video>
    <button onclick='playPause()' name="playbutton">播放/暫停</button>
    <button id="snap">擷取</button>
    <div>
        <canvas id="canvas" width='320' height='180'></canvas>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    {% comment %} upload picture shown on page and pass img to server {% endcomment %}
    $('#upload_imgs').change(event => {
        if(event.target.files && event.target.files[0]){
            let reader = new FileReader();
            reader.onload = function(){
                const dataURL = reader.result;
                const width = 480;

                $('#model_img').attr('src', dataURL).width(width);
            };
            reader.readAsDataURL(event.target.files[0]);

            {% comment %} pass img to server when img is loaded {% endcomment %}
            $('#model_img').load(() => {
                let img = document.getElementById('model_img')
                const width = img.width;
                const height = img.height;
                let canvas = document.createElement('canvas')
                canvas.width = width
                canvas.height = height
                let model = canvas.getContext('2d');

                model.drawImage(img, 0, 0, width, height)
                model_img = model.getImageData(0, 0, width, height).data

                $.ajax({
                    url: "/tripblog/{{ user_account }}/model_pose/",
                    type: "POST",
                    data: {
                        'image': JSON.stringify(model_img),
                        'w': width,
                        'h': height,
                    },
                    datatype: "json", 
                    success: response => {
                        console.log(response['response'])
                    },
                });
            });
        };
    });

    {% comment %} get video pixels and pass to server{% endcomment %}
    const video = document.getElementById("video_element");
    const snap = document.getElementById('snap');
    const canvas = document.getElementById('canvas');

    function playPause(){
        if (video.paused){
            video.play();
            var take_image = setInterval(get_pose, 6000)
        }
        else{
            clearInterval(take_image);
            video.pause();
        }
    }
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })
        .catch(function (err0r) {
        console.log("Something went wrong!");
        });
    };

    snap.addEventListener('click', get_pose);

    function get_pose(){
        const context = canvas.getContext('2d');
        let cw = canvas.clientWidth;
        let ch = canvas.clientHeight;
        context.drawImage(video, 0, 0, cw, ch);
        let image = context.getImageData(0, 0, cw, ch);
        let image_pixel = image.data;

        $.ajax({
            url: "/tripblog/{{ user_account }}/pose_analysis/",
            type: "POST",
            data: {
                'image': JSON.stringify(image_pixel),
                'w': cw,
                'h': ch
            },
            datatype: "json", 
            success: response => {
                console.log(response['response'])
            },
        });
    };

    // csrf code
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>

{% endblock %}

{% comment %} let image = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream');
        window.location.href = image; {% endcomment %}