{% extends 'tripblog/base.html' %}

{% block css %}
<style>
    #video_container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
    }
    #video_element {
        width: 500px;
        height: 375px;
        background-color: #666;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <form class="loginform" action="." method="POST" name="form1">
        {% csrf_token %}
        <div>上傳範例照片：<input type="text" name="user_account" id="user_account" /></div>
        <div>鏡頭：<input type="password" name="user_password" id="user_password" /></div>
        <div>
            <input type="submit" name="button" id="button" value="拍照" />
        </div>
    </form>
    <div id="video_container">
        <video autoplay="true" id="video_element"></video>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    var video = document.querySelector("#video_element");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })
        .catch(function (err0r) {
        console.log("Something went wrong!");
        });
    }
</script>

{% endblock %}